.container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 99.8%;
}

.cardsContainer{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
    gap: 1.5em;
    flex-wrap: wrap;
}

/* .cards {
    width: 14em;
    height: 400px;
    background-color: rgba(100, 126, 199, 0.85);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat:no-repeat;
    background-size:cover;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
    
} */

.cards {
  width: 14em;
  height: 400px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 10px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;
  background-size:cover;
}
.cards:hover{
    transform: scale(1.125);  
    border-color: rgba(17, 164, 233, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }

/* .cards:hover{
    transform: scale(1.05);
    background-color: rgba(50, 112, 204, 0.85);
    -webkit-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.75);
} */

a {
    text-decoration: none;
}

.containerButtons {
    width:85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-family: 'RetroGaming';
    font-size: 25px;
    font-weight:bold;
    color: white;
    background: none;
    border: 2px solid white;
    backdrop-filter: blur(15px);
}

.buttons:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(17, 164, 233, 0.9);
    color: black;
}

.ningunJuego {
    margin-top: 10%;
    color: rgba(17, 164, 233, 0.9);
    width: 550px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'RetroGaming';
    font-size: 40px;
    text-shadow: 2px 2px 1px rgb(175, 163, 163);
    letter-spacing: 2px;  
}
